<!-- banner-one.component.html -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br /><br />
        <h1 class="header center teal-text text-lighten-2">Modern Front-End UI/UX</h1>
        <div class="row center">
          <h5 class="header col s12 light">
            A modern responsive front-end framework based on Material Design
          </h5>
        </div>
        <div class="row center">
          <!-- <button data-target="modal1" class="btn modal-trigger">Contact Me</button> -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Contact Me</a>
        </div>
        <br /><br />
      </div>
    </div>
    <div class="parallax">
      <img src="./../assets/img/background1.jpeg" alt="Unsplashed background img 1" />
    </div>
  </div>


   <!-- Modal Trigger -->
   <!-- Modal Structure -->
   <div id="modal1" class="modal">
     <div class="modal-content">
       <h4>You can get in touch with me here...</h4>
       <p>Post Office: KATRAJ
        Post Office Type: SUB OFFICE
        District: PUNE
        State: MAHARASHTRA
        Pin Code: 411046 (Click to see all Post Offices with same Pin Code)
        Contact Address: Postmaster, Post Office KATRAJ (SUB OFFICE), PUNE, MAHARASHTRA (MH), India (IN), Pin Code:- 411046
        Delivery Status:- DELIVERY
        Postal Taluk:- PUNE CITY
        Postal Division:- PUNE CITY WEST
        Postal Region:- PUNE
        Postal Circle:- MAHARASHTRA</p>
     </div>
     <div class="modal-footer">
       <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
     </div>
   </div>
  <!--/ banner-one.component.html -->