<!-- products.component.html -->
<div class="container">
    <div class="section">
      <div class="row"><h5>Mobile Shop...</h5></div>

      <!--   Icon Section   -->
      <div class="row">
    
        <div class="col s12 m4" *ngFor="let mob of mobParts">
          <div class="icon-block">
            <h2 class="center brown-text">
              <img src="{{mob.IMG}}">
            </h2>
            <h5 class="center">{{mob.name | uppercase}}</h5>
            <h5 *ngIf="mob.inStock > 0; else outOfStock" class="center inStock">Avaialable : {{mob.inStock}}</h5>
            <ng-template #outOfStock>
              <h5 class="center outOfStock">Out Of Stock..!</h5>
            </ng-template>
            
            <table id="content">
              <tr>
                <td ><a class="waves-effect waves-light btn">Add to cart</a></td>
                <td ><a class="waves-effect waves-light btn green">Buy</a></td>
                <td ><a class="waves-effect waves-light btn orange">Wishlist</a></td>
              </tr>
            </table>
            <!-- <p class="light">
              {{mob.proddescription}}
            </p> -->

          </div>
         
        </div>
  
      </div>
    </div>
  </div>
  <!--/ products.component.html -->